body {
	background-image: url(../img/wp.jpg);
	color: #fff;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	text-align: center;
}
h1 {
	color: #fff;
	font-size: 36px;
	margin-top: 15px;
}
input {
	background-color: transparent;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	padding: 6px 12px;
	width: 50%;
}
button {
	background-color: #0000aa;
	border:none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	padding: 6px 12px;
}
